limit_req_zone $server_name zone=perserver:10m rate=1r/s;
limit_req_status 429;

server {
    resolver kube-dns.kube-system.svc.cluster.local valid=10s ipv6=off;
    listen ${NGINX_PORT};

    set $upstream_app llm.prod.svc.cluster.local;
    set $upstream_port 8100;
    set $upstream_proto http;

    location / {
             proxy_pass $upstream_proto://$upstream_app:$upstream_port;
    }

    location /get_chat_response {
             limit_req zone=perserver burst=120;
             proxy_pass $upstream_proto://$upstream_app:$upstream_port;
    }
}
