limit_req_zone $server_name zone=perserver:10m rate=1r/s;
limit_req_status 429;

server {
    listen ${NGINX_PORT};

    location /get_chat_response {
             limit_req zone=perserver burst=120;

             set $upstream_app llm;
             set $upstream_port 8100;
             set $upstream_proto http;
             proxy_pass $upstream_proto://$upstream_app:$upstream_port;
    }
}
